TODO: klára homepage, undirbúa viðtöl

TODO: ✔ Add button
TODO: ✔ move buttons
TODO: ✔ Set Background
TODO: ✔ Save/load Setups
TODO: ✔ Have a list of setups
TODO: ✔ Be able to clear the screen for a new setup
TODO: ✔ Be able to delete setups 
TODO: ✔ recognize different gestures for button presses (pan(drag), LongPress(hold), single tap, double tap, etc.)
TODO: ✔ Link Setups to a button
TODO: ✔ be able to change haptic feedback of individual buttons
    Thought Process for this is a node setup:
        Button Settings:
            ✔ Links to (insert link to another setup)
            ✔ Haptic Feedback:
            Haptic feedback node (e.g. Notification.Success) # This would be moveable by dragging the node
            WIP: downtime between feedbacks (e.g. 0.5s) # This would be moveable by dragging the node
            Haptic feedback node (e.g. Notification.Error) # This would be moveable by dragging the node
TODO: have haptic feedback on setup change/load
TODO: add sound bytes

TODO: FUTURE IDEA: figure out how to make it work with figma.




High level screening já/nei -> result = specific long lists (hvaða low level listar eiga við einstaklinginn) 
    -> e.g. GAD 7, PHQ.

updatea dict bakvið tjöldin til að suggesta treatments fyrir einstaklinga

{
    "kvíði": 10 (counter)
    "eh": 20 (counter)